@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500;700&display=swap');

.triangle-contaner{
    display: flex;
    justify-content: flex-end;
}

.footer-bar{
    display: flex;
    align-items: center;
    justify-content: space-between  ;

    background-color: #3D8C53;
    width: 100vw;
    height: 100px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: white;
}

.footer-bar img {
    margin-right: 7.8vw;
    margin-top: -65px;
}

.footer-bar p {
    margin-left: 1vw;
}

.triangle-shape{
    width: 0; 
    height: 0; 
    border-left: 80px solid transparent;
    border-right: 80px solid transparent;
    
    border-bottom: 50px solid #3D8C53;
    margin-right: 5vw;
}